doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Ace

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Albino

      section
        h1 Apa Itu Albino?

      section
        p Albino (dari bahasa Latin albus yang berarti putih), disebut juga hypomelanism atau hypomelanosis, adalah salah satu bentuk dari hypopigmentary congenital disorder. Ciri khasnya adalah hilangnya pigmen melanin pada mata, kulit, dan rambut (atau lebih jarang hanya pada mata). Albino timbul dari perpaduan gen resesif. Ciri-ciri seorang albino adalah mempunyai kulit dan rambut secara abnormal putih susu atau putih pucat dan memiliki iris merah muda atau biru dengan pupil merah.
        
      section
        h1 Penyebab Albino

      section
        p Penyebab Albino adalah adanya kelainan genetik. Gen albino menyebabkan tubuh tidak dapat membuat pigmen melanin. Sebagian besar bentuk albino adalah hasil dari kelainan biologi dari gen-gen resesif yang diturunkan dari orang tua, walaupun dalam kasus-kasus albino tertentu jarang yang diturunkan dari ayah/ibu saja, ada mutasi genetik lain yang dikaitkan dengan albino, tetapi semuanya menuju pada perubahan dari produksi melanin dalam tubuh. 

        p 

      section
        h1 Gejala Albino

      section
        p Dengan test genetik, dapat diketahui apa seseorang itu albino berikut variasinya, tetapi tidak ada keuntungan medis kecuali pada kasus non-OCA disorders yang dapat menyebabkan albino disertai dengan masalah medis lain yang dapat diobati. Gejala-gejala dari albino terlihat dari warna rambut, kulit, dan mata yang terang (pucat). Pada sebagian orang, pigmentasi kulit tetap sama sepanjang hidup mereka. Sementara pada kasus lain, produksi melanin dapat saja dimulai di masa kanak-kanak atau remaja sehingga kulit menjadi tidak terlalu pucat lagi. Saat terkena sinar matahari, akan muncul bintik-bintik coklat (gelap) pada kulit albino dengan ukuran yang bervariasi.Kurangnya pigmentasi juga mengubah warna rambut menjadi coklat atau putih. Orang yang berasal dari keturunan Afrika atau Asia mungkin memiliki warna rambut yang sedikit berbeda yang bisa berkisar dari kuning ke merah hingga coklat. Warna mata orang dengan albinisme mungkin berubah bersamaan dengan usia dan bervariasi dari biru muda sampai coklat. Karena tidak adanya pigmen melanin, iris mata cenderung menjadi transparan. Akibatnya, iris tidak mampu memblokir cahaya berlebihan yang memasuki mata. Masalah penglihatan seperti astigmatisme (silindris), rabun jauh, dan rabun dekat umum terlihat pada orang yang mengalami segala bentuk albinisme. Gejala okular albinisme hanya teramati di mata saja. Dalam kondisi ini, tidak ada perubahan yang teramati pada warna kulit atau rambut. Kepekaan berlebih terhadap cahaya yang dikenal sebagai fotofobia merupakan salah satu tanda albinisme okular. Nystagmus atau gerakan mata cepat dan tak terkendali tanpa bisa dikontrol merupakan ciri lain albinisme okular. Gejala lain albinisme okular adalah strabismus di mana mata tidak bisa bergerak serempak atau kedua mata tidak dapat menunjuk ke arah yang sama.

      section
        h1 Kelainan Mata Bagi Pada Penderita Albino

      section
        p Nystagmus (pergerakan mata yang sangat cepat)
        p Strabismus (“crossed eyes” or “lazy eye”) 
        p kesalahan refraksi seperti miopi, hipertropi, dan astigmatisma
        p Fotofobia (hipersensitivitas terhadap cahaya)
        p Hipoplasi foveal (kurang berkembangnya fovea /bagian tengah dari retina)
        p Hipoplasi nervus optikus (kurang berkembangnya nervus optikus)
        p Abnormal decussation (crossing /dari fiber nervus optikus pada chiasma optikus)
        p Ambliopia (penurunan akuisitas dari satu atau kedua mata karena buruknya transmisi ke otak, sering karena kondisi lain seperti strabismus)

      section
        h1 Penyembuhan Albino

      section
        p Meskipun tidak ada obat untuk albino, orang dengan gangguan tersebut dapat mengambil langkah untuk memperbaiki penglihatan dan menghindari paparan sinar matahari yang terlalu banyak. Pada penderita albino selain ada gangguan di pigmen melanin, sistem kekebalan tubuh penderita albino juga sangat lemah dan rentan penyakit. Gangguan penglihatan merupakan karakteristik umum dengan semua jenis albino, kerusakan ini disebabkan oleh perkembangan jalur saraf dari mata ke otak yang tidak teratur dan dari perkembangan retina yang abnormal. Secara klinis penyembuhan pada pigmen kulit penderita albino tidak dapat disembuhkan tetapi obat untuk menjaga sistem kekebalan tubuh penderita albino dapat diatasi dengan obat yang terbuat dari bahan-bahan alami yang telah teruji secara klinis untuk menjaga sistem kekebalan tubuh agar tetap kuat.
      
      section
        p Cara mengatasi penyakit ini perlu perawatan yang tepat dan tanpa efek samping, karena penderita albino biasanya bersifat alergi terhadap obat-obatan kimia atau udara dan cuaca. Untuk pengobatannya dibutuhkan obat yang terbuat dari dua bahan utama yaitu ekstrak kulit manggis dan daun sirsak, serta dipadukan dengan madu, bunga rosella, apel dan bahan alami pilihan lainnya untuk menjadikan satu komposisi yang tepat untuk penyembuhan penyakit albino.

      section
        h1 Tipe Albino

      section
        h1 Oculocutaneous Albinism
        p tipe Albino ini adalah tipe yang pada umumnya di ketahui masyarakat. Yaitu penderita Albino akan kehilangan pigmen pada mata, kulit dan rambut.
        
      section
        h1 Ocular Albinism
        p  Albino jenis ini hanya kehilangan pigmen pada mata, sedangakanpada rambut dan kulit mereka normal. Tetapi ada juga yang memiliki penampilanwarna mata normal biarpun mata mereka tidak dapat berfungsi sebagaimanamestinya.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild