doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Ace

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Albino

      section
        h1 Apa Itu Albino?

      section
        p Albino (dari bahasa Latin albus yang berarti putih), disebut juga hypomelanism atau hypomelanosis, adalah salah satu bentuk dari hypopigmentary congenital disorder. Ciri khasnya adalah hilangnya pigmen melanin pada mata, kulit, dan rambut (atau lebih jarang hanya pada mata). Albino timbul dari perpaduan gen resesif. Ciri-ciri seorang albino adalah mempunyai kulit dan rambut secara abnormal putih susu atau putih pucat dan memiliki iris merah muda atau biru dengan pupil merah.
        
      section
        h1 Penyebab Albino

      section
        p Penyebab Albino adalah adanya kelainan genetik. Gen albino menyebabkan tubuh tidak dapat membuat pigmen melanin. Sebagian besar bentuk albino adalah hasil dari kelainan biologi dari gen-gen resesif yang diturunkan dari orang tua, walaupun dalam kasus-kasus albino tertentu jarang yang diturunkan dari ayah/ibu saja, ada mutasi genetik lain yang dikaitkan dengan albino, tetapi semuanya menuju pada perubahan dari produksi melanin dalam tubuh. 


      section
        h1 Gejala Albino

      section
        p Dengan test genetik, dapat diketahui apa seseorang itu albino berikut variasinya, tetapi tidak ada keuntungan medis kecuali pada kasus non-OCA disorders yang dapat menyebabkan albino disertai dengan masalah medis lain yang dapat diobati. Gejala-gejala dari albino terlihat dari warna rambut, kulit, dan mata yang terang (pucat). Pada sebagian orang, pigmentasi kulit tetap sama sepanjang hidup mereka. Sementara pada kasus lain, produksi melanin dapat saja dimulai di masa kanak-kanak atau remaja sehingga kulit menjadi tidak terlalu pucat lagi. Saat terkena sinar matahari, akan muncul bintik-bintik coklat (gelap) pada kulit albino dengan ukuran yang bervariasi.Kurangnya pigmentasi juga mengubah warna rambut menjadi coklat atau putih. Orang yang berasal dari keturunan Afrika atau Asia mungkin memiliki warna rambut yang sedikit berbeda yang bisa berkisar dari kuning ke merah hingga coklat. Warna mata orang dengan albinisme mungkin berubah bersamaan dengan usia dan bervariasi dari biru muda sampai coklat. Karena tidak adanya pigmen melanin, iris mata cenderung menjadi transparan. Akibatnya, iris tidak mampu memblokir cahaya berlebihan yang memasuki mata. Masalah penglihatan seperti astigmatisme (silindris), rabun jauh, dan rabun dekat umum terlihat pada orang yang mengalami segala bentuk albinisme. Gejala okular albinisme hanya teramati di mata saja. Dalam kondisi ini, tidak ada perubahan yang teramati pada warna kulit atau rambut. Kepekaan berlebih terhadap cahaya yang dikenal sebagai fotofobia merupakan salah satu tanda albinisme okular. Nystagmus atau gerakan mata cepat dan tak terkendali tanpa bisa dikontrol merupakan ciri lain albinisme okular. Gejala lain albinisme okular adalah strabismus di mana mata tidak bisa bergerak serempak atau kedua mata tidak dapat menunjuk ke arah yang sama.

      section
        h1 Masalah Kulit Terkait Dengan Albino
      section
        p Orang yang mengalami albinisme (albino) mewarisi gen mutasi dari kedua orang tuanya.Orang albino umumnya lebih rentan terkena kanker kulit. Hal ini disebabkan karena kurangnya melanin meningkatkan risiko melanoma saat terkena sinar matahari dalam jangka waktu lama.Kulit penderita albino juga lebih sensitif terhadap sinar matahari. Kulit bisa saja terlihat berbintik gelap saat terpapar matahari. Kulit albino juga cenderung kasar jika terkena sinar UV untuk waktu lama yang berakibat pada penuaan dini sel-sel kulit.
      
      section
        h1 Kelainan Mata Bagi Pada Penderita Albino

      section
        p Nystagmus (pergerakan mata yang sangat cepat)
        p Strabismus (“crossed eyes” or “lazy eye”) 
        p kesalahan refraksi seperti miopi, hipertropi, dan astigmatisma
        p Fotofobia (hipersensitivitas terhadap cahaya)
        p Hipoplasi foveal (kurang berkembangnya fovea /bagian tengah dari retina)
        p Hipoplasi nervus optikus (kurang berkembangnya nervus optikus)
        p Abnormal decussation (crossing /dari fiber nervus optikus pada chiasma optikus)
        p Ambliopia (penurunan akuisitas dari satu atau kedua mata karena buruknya transmisi ke otak, sering karena kondisi lain seperti strabismus)

      section
        h1 Perlindungan Terhadap Sinar Matahari

      section
         p Penderita albino diharuskan menggunakan sunscreen ketika terkena cahaya matahari untuk melindungi kulit prematur atau kanker kulit. Baju penahan sinar matahari dan pakaian renang juga merupakan alternatif lain untuk melindungi kulit dari cahaya matahari yang berlebihan.Penggunaan kacamata dan topi dapat membantu pula. Barang lain yang dapat membantu orang-orang dengan albino adalah menghindari perubahan tiba-tiba dari situasi cahaya dan menambahkan kaca penahan sinar matahari.
      section
        h1 Bantuan Daya Lihat
      section
        p Kacamata dan bantuan daya lihat lain dapat membantu orang albino, walaupun daya lihat mereka tidak dapat dikoreksi secara lengkap. Beberapa penderita albino cocok menggunakan bifocals (dengan lensa yang kuat untuk membaca), sementara yang lain lebih cocok menggunakan kacamata baca. Penderita pun dapat memakai lensa kontak berwarna untuk menghalangi tranmisi cahaya melalui iris. Beberapa menggunakan bioptik, kacamata yang mempunyai teleskop kecil di atas atau belakang lensa biasa, sehingga mereka lebih dapat melihat sekeliling dibandingkan menggunakan lensa biasa atau teleskop. Walaupun masih menjadi kontroversi, banyak ophthalmologist menyarankan penggunaan kacamata dari masa kecil sehingga mata dapat berkembang optimal.

      section
        h1 Penyembuhan Albino

      section
        p Meskipun tidak ada obat untuk albino, orang dengan gangguan tersebut dapat mengambil langkah untuk memperbaiki penglihatan dan menghindari paparan sinar matahari yang terlalu banyak. Pada penderita albino selain ada gangguan di pigmen melanin, sistem kekebalan tubuh penderita albino juga sangat lemah dan rentan penyakit. Gangguan penglihatan merupakan karakteristik umum dengan semua jenis albino, kerusakan ini disebabkan oleh perkembangan jalur saraf dari mata ke otak yang tidak teratur dan dari perkembangan retina yang abnormal. Secara klinis penyembuhan pada pigmen kulit penderita albino tidak dapat disembuhkan tetapi obat untuk menjaga sistem kekebalan tubuh penderita albino dapat diatasi dengan obat yang terbuat dari bahan-bahan alami yang telah teruji secara klinis untuk menjaga sistem kekebalan tubuh agar tetap kuat.
      
      section
        p Cara mengatasi penyakit ini perlu perawatan yang tepat dan tanpa efek samping, karena penderita albino biasanya bersifat alergi terhadap obat-obatan kimia atau udara dan cuaca. Untuk pengobatannya dibutuhkan obat yang terbuat dari dua bahan utama yaitu ekstrak kulit manggis dan daun sirsak, serta dipadukan dengan madu, bunga rosella, apel dan bahan alami pilihan lainnya untuk menjadikan satu komposisi yang tepat untuk penyembuhan penyakit albino.

      section
        h1 Pembedahan
        
      section
        p Biasanya, pengobatan untuk kondisi mata terdiri dari rehabilitasi visual. Pembedahan mungkin untuk otot mata untuk menurunkan nystagmus, strabismus, dan kesalahan refraksi seperti astigmatisma. Pembedahan strabismus mungkin mengubahan penampilan dari mata. Pembedahan untuk nistagmus mungkin dapat mengurangi perputaran bola mata yang berlebihan. Efektifitas dari semua prosedur ini bervariasi, tergantung dari keadaan masing-masing individu. Namun harus diketahui, pembedahan tidak akan mengembalikan fovea ke kondisi normal dan tidak memperbaiki daya lihat binocular. Dalam kasus esotropia (bentuk “crossed eyes” dari strabismus), pembedahan mungkin membantu daya lihat dengan memperbesar lapang pandang (area yang tertangkap oleh mata ketika mata melihat hanya pada satu titik).

      section
        h1 Tipe Albino

      section
        h1 Oculocutaneous Albinism
        p tipe Albino ini adalah tipe yang pada umumnya di ketahui masyarakat. Yaitu penderita Albino akan kehilangan pigmen pada mata, kulit dan rambut. Oculocutaneous Albinism dibagi kembali menjadi 3 tipe: OCA1, OCA2 dan OCA3

      section
        h1 OCA1
        p OCA 1 adalah gangguan hasil dari mutasi pada gen tirosinase ditemukan pada kromosom 11. Kebanyakan individu dengan OCA 1 memiliki rambut putih, kulit putih susu, dan irides biru saat lahir.

      section
        h1 OCA2
        p OCA 2 (tirosin-positif OCA) adalah jenis yang paling umum dari albinisme di semua ras. Kebanyakan orang albino tipe 2 tidak memiliki pigmen hitam (eumelanin) di kulit, rambut, atau mata saat lahir. Akibatnya, pigmen hampir tidak ada pada saat lahir, sehingga kadang-kadang sulit dibedakan dari OCA 1. Namun, pigmentasi cenderung ber kembang dengan usia. Mekanisme yang tepat dari keterlambatan dalam albinisme tidak diketahui. Intensitas akumulasi pigmen tergan tung pada latar belakang ras pasien.
      
      section
        h1 OCA3
        p OCA 3 (sebelumnya dikenal sebagai red / rufous OCA) disebabkan oleh mutasi pada gen manusia coding untuk TRP-1. Sebuah mutasi pada posisi ini menyebabkan bulu menjadi coklat daripada hitam. Pada manusia, pembentukan TRP-1 tidak sepenuh nya dipahami. Namun, ia bertindak sebagai protein regulator dalam produksi melanin hitam (eumelanin). Dengan mutasi, sebuah disregulasi berikutnya tirosinase terjadi, dan coklat pigmen disintesis bukan pigmen hitam.
        
      section
        h1 Ocular Albinism
        p  Albino jenis ini hanya kehilangan pigmen pada mata, sedangakanpada rambut dan kulit mereka normal. Tetapi ada juga yang memiliki penampilanwarna mata normal biarpun mata mereka tidak dapat berfungsi sebagaimanamestinya.

      section
        h1 Kategori Albino

      section
        h1 Albino Tirosinase Positif
        p Enzim tirosinase ada, namun melanosit (sel pigmen) tidak mampu untuk memproduksi melanin karena alasan tertentu yang secara tidak langsung melibat kan enzim tirosinase.

      section
        h1 Albino Tirosinase Negative
        p Enzim tirosinase tidak diproduksi atau versi non fungsional diproduksi.
        Albinisme merupakan cacat menurun dimana seseorang tidak mempunyai tirosin yang akan diubah menjadi pigmen melanin. Akibatnya alis, rambut, dan kulit tampak putih (albino), dan matanya peka terhadap cahaya. Gen yang menyebabkan albino bersifat resesif, sedangkan alel dominannya mengendalikan sifat normal. Seorang anak albino lahir dari pasangan suami isteri yang masing – masing membawa gen albino (carrier)

      section
        h1 Mitos Albino

      section
        h1 Mitos Albino pada Manusia
        p Menurut kebanyakan orang, salah satu mitos mengatakan bahwa ketika anak tidak mempunyai mata yang berwarna pink, maka mereka tidak akan mengalami albino.Benarkah? Kenyataannya, warna mata anak tidak selalu pink atau kemerah-merahan. Pada beberapa anak albino yang masih memiliki sedikit pigmen di dalam tubunya, kemungkinan akan memiliki mata yang berwarna hijau atau agak sedikit kecoklatan.

      section
        p Untuk mereka yang tidak memiliki pigmen sama sekali di dalam tubuhnya, akan memiliki mata yang berwarna pink ini. Oleh karena itu, seringkali anak albino akan nampak seperti memiliki warna yang berwarna merah ketika difoto. Ini karena iris mereka tidak bisa memantulkan cahaya dari blits kamera. Ada juga yang mengatakan kalau anak albino memiliki gangguan dengan mental, jangan pernah menggubris pernyataan yang satu ini. Karena kenyataannya, albino sama sekali tidak ada hubungannya dengan mental anak.

      section
        h1 Mitos Albino pada Hewan
           h2 Albino pada Kucing
              p Kucing albino menurut sebagaian orang pastilah kucing tuli. Apakah benar demikian? Sebenarnya itu adalah salah satu mitos. Pada kenyataannya kebanyakan kucing yang berwarna albino memang membawa beberapa cacat genetik. Namun tidak semua kucing albino itu tuli, karena 95% kucing albino sebenarnya tidaklah putih total.

              p Dalam masa pembuahan kucing di dalam rahim, sel tapetum lucidum (mempengaruhi warna mata), sel pigmen (mempengaruhi warna kulit), dan sel selaput telinga berkembang dari sel yang sama. So, ketiga jaringan tersebut (warna mata, warna bulu, dan jaringan pendengaran) memang berkaitan. Maka dari itu, jika salah satu sel, misalnya sel pigmen tidak berkembang dengan baik, kemungkinan besar 2 sel lainnya juga berkembang tidak baik.

              p Namun, kucing berbulu putih tidak selalu berarti kucing albino. Binatang albino biasanya memiliki mata berwarna pink. Sementara kucing putih tidaklah pasti demikian. Sehingga belum tentu kucing berbulu putih itu punya ketidak normalan pigmen yang berarti jaringan telinganya juga tidak normal. Sel Tapetum yang tidak berkembang dengan baik akan membuat mata kucing berwarna biru. Biasanya yang berwarna mata biru pastilah mempunyai bulu berwarna putih. Dengan demikian kucing ini juga punya khans besar untuk menderita tuli. Terutama yang kedua matanya berwarna biru.

      section
        h1 Hewan Albino Terindah
          h2 Tiger Albino
          p Harimau Albino, dengan mata yang indah dan menakjubkan bagai es biru dan jas putih berbelang, dihitung sebagai salah satu hewan yang paling indah di bumi. Hewan-hewan Albino yang indah juga memiliki hidung merah muda, bibir hitam dan merah muda di bawah-kaki. Terpesona oleh keindahan hewan-hewan Albino, banyak dari kita tidak menyadari bahwa harimau putih tidak bisa lagi ditemukan di hutan-hutan karena kebanyakan dari mereka telah diangkut ke Kebun Binatang, dan peternakan. Berbeda asosiasi Big Cat melakukan semua yang mereka bisa untuk mencegah hewan-hewan Albino dari menghilang dari muka bumi. Harimau putih adalah spesies yang mengalami pubertas lebih cepat dibandingkan dengan harimau normal.

          h2 Lion Albino
          p Selama berabad-abad, suku hutan Afrika percaya bahwa jika hutan mereka memiliki singa putih, maka mereka akan diberkati dan tidak ada kekurangan makanan. Menurut para ilmuwan, singa-singa putih kehilangan pigmen warna normal mereka karena Gene inhibitor. Populasi singa putih diperkirakan tidak lebih dari 550 ekor di dunia dan sekarang kebanyakan ditemukan di acara utama Kebun Binatang.

      section
        h1 Albinisme pada Hewan
        p Seperti pada manusia, albinisme pada hewan juga merupakan kelainan genetik yang menyebabkan kelainan atau absennya pigmen melanin. Berbagai mutasi gen bertanggung jawab atas terjadinya albinisme.
        p Albinisme bisa terjadi di hampir semua spesies hewan yang memiliki melanin dalam tubuh mereka seperti reptil, amfibi, moluska, burung, dan mamalia. Oleh karena itu, albinisme terjadi pada berbagai spesies hewan seperti ular, hiu, paus, lumba-lumba, zebra, kelinci, burung merak, kura-kura, katak, rusa, dan sigung.

      section
        h1 Cara Mengidentifikasi Albisnisme pada Hewan
        p Tidak semua hewan yang berwarna putih atau pucat mengalami albinisme.
        p Anda dapat mengidentifikasi hewan albino dengan melihat warna matanya.
        p Mata hewan albino akan berwarna merah muda atau merah. Kurangnya melanin membuat pembuluh darah mata menjadi terlihat sehingga mata nampak berwarna merah.
        p Hewan albino juga akan memiliki kuku, kulit, dan sisik yang berwarna kemerahan.
        p Ada beberapa kondisi pada hewan yang berhubungan dengan albinisme. Sementara axanthic albino (axanthism) terjadi karena kekurangan warna kuning pada tubuh, anerythristic albino terjadi karena kekurangan warna merah.
        p Albinisme juga sering tertukar dengan leucisme Pada leucisme, hewan memiliki warna yang sangat pucat atau putih, namun memiliki mata gelap. 
        p Hewan leucisme tidak kekurangan melanin dan dapat diidentifikasi dengan warna mata mereka yang tetap gelap atau normal.

      section
        h1 Masalah pada Hewan Albino
        p Melanin merupakan pigmen yang berfungsi melindungi kulit dari radiasi ultraviolet. Itu sebab, hewan albino rentan terhadap sengatan matahari dan kanker kulit.
        p Hewan albino tidak mampu melakukan penyamaran dibandingkan rekan mereka yang normal sehingga lebih rentan terhadap predator. Albinisme juga menyebabkan masalah penglihatan. 
        p Hewan albino umumnya akan kesulitan mencari pasangan karena tidak memiliki warna normal.

      section
        h1 Hewan albino langka

      section
        h1 Albino Aligator

      section 
        p Hanya ada sedikit sekali bahkan dapat dihitung jari jumlah alligator/buaya putih yang ada di dunia. Tapi tidak semuanya benar-benar murni sebagai albino. Gambar di atas adalah Bouya Blan, buaya albino berusia 22 tahun yang tinggal di Florida. Hewan albino ini memiliki pigmentasi yang sangat sedikit, bahkan matanyapun nyaris tak berwarna.

      section
        h1 Albino Snake

      section
        p Ular dapat menunjukkan beberapa variasi dari pola abino, dan kulit mereka akan berpola mulai dari warna putih salju hingga warna yang tampak seperti cetakan fotocopy yang kering. Sebagai pemangsa yang bergerak secara diam-diam, ular albino memiliki kerugian dalam dunia hewan buas (dikarenakan warna kulitnya yang terang) dan mereka biasanya tidak dapat bertahan hidup lebih lama. Selanjutnya adalah White Diamond yang lahir di Louisiana namun dibesarkan di Germany’s Serengeti Safari Park. Buaya berusia 15 tahun tersebut merupakan varian buaya Mississppiensis albino satu-satunya di Eropa!

      section
        h1 Tantangan Sosial
        p Kebanyakan penderita albinisme belajar menyesuaikan diri dengan keterbatasan fisik mereka. Akan tetapi, banyak yang sulit menerima keadaan itu di tengah-tengah masyarakat. Bagi anak-anak, hal ini khususnya menjadi tantangan.
        p Di beberapa bagian di Afrika Barat, anak-anak albino diejek atau dicemooh dengan ungkapan-ungkapan bersifat rasis. Di beberapa wilayah berbahasa Yoruba, mereka dijuluki ”Afin”, yang artinya ”mengerikan”. Biasanya, orang dewasa tidak diejek sesering anak-anak. Meskipun orang-orang di Afrika Barat pada umumnya menghabiskan waktu di luar rumah, beberapa albino memilih untuk tinggal di dalam rumah. Gampang sekali bagi mereka untuk merasa ditolak dan tidak berguna.

      section
        h1 Legenda Albino di indonesia
        p Desa Mantar Sumbawa – Ingat Film “Serdadu Kumbang” garapan Arie Sihasale  yang di rilis th 2011? Di tempat syuting film inilah ada sebuah desa yang terdapat legenda tentang Albino. Hanya ada 7 orang Albino yang bisa hidup di desa ini, ketika albino ke 8 lahir ini merupakan pertanda bahwa ada albino lain yang akan meninggal dunia.
        p Kenapa ada keturunan Albino di desa Mantar? Menurut legenda ada kapal dagang cina yang awak kapal nya dari bangsa portugis, jerman, kaukasoid, arab, cina dan juga dari Gresik Jawa Timur kapal ini karam dan terdampar di desa Mantar. hanya 7 orang berkulit putih yang di izinkan tinggal di desa mantar. sejak ke 7 orang tersebut meninggal dunia seorang bayi Albino akan lahir untuk menggantikan tempat mereka, jumlahnya selalu 7.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild